
.icon-gplus-1:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-left-big:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */